body {
	background: url("/img/start.gif") center center fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

.intro-headline {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.3px;
	padding-top: 160px;
}